@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  min-height: 100vh;
}

header.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
header.headerHome .logoHome {
  width: 110px;
  height: 50px;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
}
header.headerHome .logoHome img {
  width: 100%;
  height: 100%;
}
header.headerHome ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.headerHome ul li {
  list-style: none;
  margin-left: 20px;
}
header.headerHome ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header.headerHome ul li a:hover, header.headerHome ul li a.activeHeader {
  background-color: #fff;
  color: #2b1055;
}

.container-welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b1055), to(#7597de));
  background: linear-gradient(#2b1055, #7597de);
}
.container-welcome::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1c0522), to(transparent));
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
.container-welcome img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.container-welcome img#moon {
  mix-blend-mode: screen;
}
.container-welcome img#mountains_front {
  z-index: 10;
}
.container-welcome #text {
  position: absolute;
  right: -400px;
  color: #fff;
  white-space: nowrap;
  font-size: 5.5vw;
  z-index: 9;
}
.container-welcome .btn-start {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 11;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.about {
  position: relative;
  padding: 100px;
  background: #1c0522;
}
.about h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}
.about p {
  font-size: 1.7em;
  color: #fff;
}

footer {
  position: relative;
  background: #2b1055;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #e2dcdc;
}
footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#1c0522), to(transparent));
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
footer .footer-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 10000;
}
footer .footer-content h3 {
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2em;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 25px;
  font-size: 15px;
}
footer .footer-content .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0 3em 0;
}
footer .footer-content .socials li {
  margin: 0 10px;
}
footer .footer-content .socials li a {
  text-decoration: none;
  color: #fff;
}
footer .footer-content .socials li a i {
  font-size: 1.6em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer .footer-content .socials li a:hover i {
  -webkit-transform: rotateZ(360deg) scale(1.5);
          transform: rotateZ(360deg) scale(1.5);
}
footer .footer-bottom {
  position: relative;
  background: #2b1055;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 10000;
}
footer .footer-bottom p {
  font-size: 15px;
  text-transform: uppercase;
}
footer .footer-bottom p span {
  opacity: 0.4;
  font-weight: 500;
}

@media (max-width: 816px) {
  header ul {
    display: none;
  }

  header .logo {
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 674px) {
  .about h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 542px) {
  .about {
    padding: 40px;
  }
}
@media (max-width: 514px) {
  footer {
    padding: 0 65px;
  }
}/*# sourceMappingURL=Home.css.map */