@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	min-height: 100vh;
}

header.headerHome {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;

	& .logoHome {
		width: 110px;
		height: 50px;
		display: flex;

		& img {
			width: 100%;
			height: 100%;
		}

		& span {
			display: flex;
			align-items: center;
			color: #fff;
			font-weight: 800;
			font-size: 25px;
			margin-left: 5px;
		}
	}

	& ul {
		display: flex;
		justify-content: center;
		align-items: center;

		& li {
			list-style: none;
			margin-left: 20px;

			& a {
				text-decoration: none;
				padding: 6px 15px;
				color: #fff;
				border-radius: 20px;
				transition: 0.2s ease-in-out;

				&:hover,
				&.activeHeader {
					background-color: #fff;
					color: #2b1055;
				}
			}
		}
	}
}

.container-welcome {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: linear-gradient(#2b1055, #7597de);

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(to top, #1c0522, transparent);
		z-index: 1000;
	}

	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;

		&#moon {
			mix-blend-mode: screen;
		}

		&#mountains_front {
			z-index: 10;
		}
	}

	& #text {
		position: absolute;
		color: #fff;
		white-space: nowrap;
		font-size: 5.5vw;
		z-index: 19;
	}

	& .btn-start {
		display: inline-block;
		text-decoration: none;
		padding: 8px 30px;
		border-radius: 40px;
		background-color: #fff;
		color: #2b1055;
		font-size: 1.5em;
		cursor: pointer;
		z-index: 11;
		transform: translateY(100px);
	}
}

.about {
	position: relative;
	padding: 100px;
	background: #1c0522;

	& h2 {
		font-size: 3.5em;
		margin-bottom: 10px;
		color: #fff;
	}

	& p {
		font-size: 1.7em;
		color: #fff;
	}
}

.container-creators {
	background: #1c0522;
	height: auto;
	padding: 20px 0 70px 0;

	& h2 {
		text-align: center;
		font-size: 2.2em;
		font-weight: 700;
		color: #fff;
		margin-bottom: 30px;
	}

	& .container-creators-card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		& .profile-card {
			width: 420px;
			overflow: hidden;
			text-align: center;
			position: relative;
			box-shadow: 0 0 10px #00000070;
			margin: 15px;

			& .top-section {
				padding: 60px 40px;
				background: #2c2c54aa;

				& .message,
				& .notif {
					position: absolute;
					top: 40px;
					font-size: 20px;
					cursor: pointer;
					color: #ffffff50;
				}

				& .message {
					right: 40px;
				}

				& .notif {
					left: 40px;
				}

				& .pic {
					width: 150px;
					height: 150px;
					margin: auto;
					margin-bottom: 20px;
					border: 2px solid #2c3e50;
					border-radius: 50%;
					padding: 8px;
					position: relative;

					&:after {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						border: 1px solid #2c3e50;
						left: 0;
						top: 0;
						box-sizing: border-box;
						border-radius: 50%;
						animation: wave 1.5s infinite linear;
					}

					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: top;
						border-radius: 50%;
					}
				}

				& .name {
					color: #f1f1f1;
					font-size: 28px;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				& .tag {
					font-size: 18px;
					color: #222;
				}
			}

			& .bottom-section {
				background: #f1f1f1;
				padding: 60px 40px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 28px;
				text-transform: uppercase;

				& .border {
					width: 1px;
					height: 20px;
					background: #bbb;
					margin: 0 30px;
				}

				& span {
					font-size: 14px;
					display: block;
				}

				& .social-media {
					position: absolute;
					width: 100%;
					top: -30px;
					left: 0;
					z-index: 1;

					& i {
						width: 60px;
						height: 60px;
						background: #2c3e50;
						border-radius: 50%;
						color: #f1f1f1;
						font-size: 20px;
						line-height: 60px !important;
						margin: 0 10px;
						position: relative;

						&:after {
							content: '';
							width: 100%;
							height: 100%;
							position: absolute;
							background: #2c3e50;
							left: 0;
							top: 0;
							box-sizing: border-box;
							border-radius: 50%;
							z-index: -1;
							transition: 0.4s linear;
						}

						&:hover:after {
							transform: scale(1.4);
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

@keyframes wave {
	to {
		transform: scale(1.5);
		opacity: 0;
	}
}

footer.footerHome {
	position: relative;
	background: #2b1055;
	height: auto;
	width: 100%;
	padding-top: 40px;
	color: rgb(226, 220, 220);

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70vh;
		background: linear-gradient(to top, #1c0522, transparent);
		z-index: 1000;
	}

	& .footer-content {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		z-index: 10000;

		& h3 {
			font-size: 1.8em;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 2em;
		}

		& p {
			max-width: 500px;
			margin: 10px auto;
			line-height: 25px;
			font-size: 15px;
		}

		& .socials {
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 1em 0 3em 0;

			& li {
				margin: 0 10px;

				& a {
					text-decoration: none;
					color: #fff;

					& i {
						font-size: 1.6em;
						transition: 0.5s;
					}

					&:hover i {
						transform: rotateZ(360deg) scale(1.5);
					}
				}
			}
		}
	}

	& .footer-bottom {
		position: relative;
		background: #2b1055;
		width: 100%;
		padding: 20px 0;
		text-align: center;
		z-index: 10000;

		& p {
			font-size: 15px;
			text-transform: uppercase;

			& span {
				opacity: 0.4;
				font-weight: 500;
			}
		}
	}
}

@media (max-width: 816px) {
	header ul {
		display: none;
	}

	header .logo {
		position: absolute;
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
	}
}

@media (max-width: 674px) {
	.about h2 {
		font-size: 1.5em;
	}
}

@media (max-width: 542px) {
	.about {
		padding: 40px;
	}
}

@media (max-width: 514px) {
	footer {
		padding: 0 65px;
	}
}
