@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100%;
	min-height: 100vh;
	background: linear-gradient(#2b1055, #7597de);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;

	& .logo {
		width: 110px;
		height: 50px;
		background: #fff;
		padding: 4px;
		border-radius: 4px;

		& img {
			width: 100%;
			height: 100%;
		}
	}

	& ul {
		display: flex;
		justify-content: center;
		align-items: center;

		& li {
			list-style: none;
			margin-left: 20px;

			& a {
				text-decoration: none;
				padding: 6px 15px;
				color: #fff;
				border-radius: 20px;
				transition: 0.2s ease-in-out;

				&:hover,
				&.activeHeader {
					background-color: #fff;
					color: #2b1055;
				}
			}
		}
	}
}

.container-welcome {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(to top, #1c0522, transparent);
		z-index: 1000;
	}

	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;

		&#moon {
			mix-blend-mode: screen;
		}

		&#mountains_front {
			z-index: 10;
		}
	}

	& #text {
		position: absolute;
		right: -400px;
		color: #fff;
		white-space: nowrap;
		font-size: 5.5vw;
		z-index: 9;
	}

	& .btn-start {
		display: inline-block;
		text-decoration: none;
		padding: 8px 30px;
		border-radius: 40px;
		background-color: #fff;
		color: #2b1055;
		font-size: 1.5em;
		z-index: 11;
		transform: translateY(100px);
	}
}

.about {
	position: relative;
	padding: 100px;
	background: #1c0522;

	& h2 {
		font-size: 3.5em;
		margin-bottom: 10px;
		color: #fff;
	}

	& p {
		font-size: 1.7em;
		color: #fff;
	}
}
